<div #chartContainer class="w-full h-full flex items-center justify-center font-sans"></div>
<div class="flex justify-center items-center gap-6 mt-4 text-sm font-medium">
    <div class="flex items-center gap-2">
        <div class="w-4 h-4 rounded-full bg-[#ef4444]"></div>
        <span class="text-stone-700">Corretiva</span>
    </div>
    <div class="flex items-center gap-2">
        <div class="w-4 h-4 rounded-full bg-[#facc15]"></div>
        <span class="text-stone-700">Preventiva</span>
    </div>
    <div class="flex items-center gap-2">
        <div class="w-4 h-4 rounded-full bg-[#0c4a6e]"></div>
        <span class="text-stone-700">Preditiva</span>
    </div>
</div>